---
import { getCollection } from "astro:content";

import BaseLayout from '../layouts/BaseLayout.astro';
import NoteList from "../components/NoteList.astro";

const pageTitle = 'Nastro';

const allNotes = (await getCollection('note')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

const latestNotes = allNotes.slice(0, 3);
---

<BaseLayout pageTitle={pageTitle}>
    <h2 class="text-2xl mt-2">Latest Notes</h2>

    <NoteList notes={latestNotes} />
</BaseLayout>
