---
import { getCollection } from "astro:content";

import BaseLayout from '../../layouts/BaseLayout.astro';
import SearchForm from "../../components/SearchForm.astro";
import NoteList from "../../components/NoteList.astro";

export const prerender = false;

const query = Astro.url.searchParams.get('query');

const pageTitle = 'Notes';

// Filter notes based on query.
const allNotes = await getCollection('note');
const filteredNotes = query ? allNotes.filter(article => {
    const titleMatch = article.data.title
        .toLowerCase()
        .includes(query!.toLowerCase());

    const bodyMatch = article.body
        .toLowerCase()
        .includes(query.toLowerCase());

    const slugMatch = article.slug
        .toLowerCase()
        .includes(query.toLowerCase());

    return titleMatch || bodyMatch || slugMatch;
}) : allNotes;
---

<BaseLayout pageTitle={pageTitle}>
    <div class="m-auto mx-80">
        <SearchForm searchText={query} />
    </div>

    <NoteList notes={filteredNotes} />
</BaseLayout>
